@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}



.sksu-primary{
    background: #1c753a;
}
.sksu-font{
    color: #1c753a;
}

.sksu-bg{
    background: #036624;
}
.green1{
    background: #045820;
}