@import '../../vendor/filament/forms/dist/module.esm.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


[x-cloak] {
    display: none !important;
  }
  
.filament-tables-header-cell button {
  @apply !text-white;
  @apply !border-gray-100;
}

.filament-tables-table > thead tr {
  background:  #049736 !important;
 
}

.filament-tables-text-column{
  color: #575555 !important;
}

@media print {
  body * {
    visibility: hidden;
    padding: 0;
    margin: 0;
  }

  .print-container {
    visibility: visible !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
  }

  .print-container * {
    visibility: visible !important;
    margin: 0 !important;
  }

  .print-container {
    visibility: visible !important;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
    padding: 0;
    margin: 0;
    color: black;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
/* 
@media print {
  body * {
      visibility: hidden;
      padding: 0;
  }



  .print-container {
      visibility: visible !important;
      width: 100%;
      margin: 0px 0;
  }

  .print-container * {
      visibility: visible !important;
      margin: 0;
  }



  .print-container {
      color: black;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
  }
} */